* {
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

h3 {
    text-align: left;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
}

.logo {
    width: auto;
    display: inline-block;
}

.links a {
    color: purple;
    font-family: sans-serif;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 5px;
    text-decoration: none;
    font-size: 18px;
}

.links {
    bottom: 35px;
    text-decoration: none;
    float: right;
    margin-top: 15px;
}

li a,
.nav-pages a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;
}

li a:hover {
    text-decoration: underline;
}

form {
    margin-top: 80px;
}

label {
    display: block;
    margin-bottom: 50px;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    vertical-align: top;
    line-height: 30px;
    font-size: 17px;
}

.magnifying-glass {
    height: auto;
    width: 35px;
}

.nav-pages {
    border: 1px solid black;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
}

.nav-pages a {
    display: inline-block;
}

.page-number {
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    font-size: 16px;
}

.job {
    list-style: none;
    padding: 0;
}

.date .location {
    color: color: #999;
}
